html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.03) 0px,
      rgba(0, 0, 0, 0.03) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(45deg, rgb(18, 105, 233), rgb(166, 255, 155));
}

#wrapper h2 {
  display: flex;
  justify-content: center;
}

h2 {
  background-image: repeating-linear-gradient(
      45deg,
      rgba(97, 97, 97, 0.1) 0px,
      rgba(97, 97, 97, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(90deg, rgb(43, 43, 43), rgb(43, 43, 43));
  font-size: 2em;
  color: #4e6fe6;
  letter-spacing: 1px;
  border-radius: 10%;
}
input {
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 30px;
  height: 2.5em;
  width: 250px;
  padding-left: 10px;
}

input:active {
  border: none;
}
#wrapper {
  height: 500px;
  width: 400px;
  margin: 200px auto;
  background-image: repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.08),
      rgba(0, 0, 0, 0.03),
      rgba(0, 0, 0, 0.03),
      rgba(0, 0, 0, 0.08),
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.09),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.03),
      transparent,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.03),
      rgba(0, 0, 0, 0.01) 4px
    ),
    linear-gradient(135deg, rgb(239, 145, 97), rgb(153, 53, 18));
  border-radius: 10px;
  border: 3px solid black;
  padding: 30px;
}

button {
  margin-top: 20px;
  background-color: #ffeba7;
  border-radius: 4px;
  height: 44px;
  font-weight: 600;
  padding: 0 30px;
  letter-spacing: 1px;
  border: none;
  color: #102770;
  font-size: larger;
}

button:hover {
  cursor: pointer;
}
#todoList {
  color: white;
  font-size: 28px;
  margin-top: 10px;
}

#todoList p {
  margin: 10px 0px;
}

#todoList p:hover {
  cursor: pointer;
}
